
<div class="rowContainer" fxLayout="row wrap"
     flexLayout.sm="column"
     >

  <div fxFlex="50"
       fxFlex.sm="100"
       fxFlex.xs="100"
       fxLayoutAlign="center"
       *ngFor="let event of events | orderBy: 'endDate' ">

    <mat-card class="example-card" 
              fxLayout="column" 
              >

      <mat-card-header fxLayout="row" fxLayoutAlign="start">

        <mat-card-title> {{ event.title }} </mat-card-title>

        <mat-card-subtitle> {{ event.subtitle }} </mat-card-subtitle>

      </mat-card-header>
      
      <img mat-card-image src="{{ event.image }}" alt="Dummie photo">
      
      <div fxLayout="column" >
        
        <mat-card-content fxLayoutAlign="space-between">
          <span class="date"> 
            {{ event.startDate | date }} - {{ event.endDate | date }} 
          </span>
    
          <span class="place">
            {{ event.place }}
          </span>
        </mat-card-content>

        <mat-card-content class="description">

          <p  [innerHTML]= "event.description"></p>

        </mat-card-content>
        
      </div>

      <mat-card-actions mat-card-image 
                        fxFlexAlign="end">

          <button mat-raised-button
                  fxFlexAlign="end"
                  class="buyButton">Comprar</button>

        </mat-card-actions>

    </mat-card>
  
  </div>
  
</div>

